body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    font-size: .7rem;
    margin-bottom: -.8rem;
}

form {
    display: flex;
    align-items: center;

    input {
        padding: .7rem;
        font-size: 1.6rem;
        width: 30vw;
        
        border-radius: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        box-shadow: var(--box-shadow);

        &:focus {
            outline: none;
            background-color: white;
        }
    }

    button {
        display: flex;
        padding: 0.64rem;
        font-size: 2rem;   

        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        transition: all 0.3s ease;
        color: var(--primary-color-2);
        background: #f7fffe;
        cursor: pointer;
        border-radius: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;

        &:hover {
            transform: scale(1.1);
            background: var(--primary-color-2);
            color: white;
        }
        
        &:focus {
            outline: 0;
        }
        
        &:active {
            transform: scale(1);
        }
    }
    
    input,
    button {
        border: none;
        background: white;
    }
}

.filter-todo {
    padding: .95rem;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.6rem;
    padding-left: .4rem;
    font-size: 2.2rem;
    background: #fff;
    color: black;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;


    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.todo li {
    flex: 1;
    font-family: 'Gochi Hand', cursive;
    text-transform: capitalize;
}

.trash-btn,
.complete-btn {
    background: var(--primary-color-2);
    color: white;
    border: none;
    border-radius: 0;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    
    &:active {
        transform: scale(1);
    }

    &:focus {
        outline: 0;
    }
}
.complete-btn {
    background: rgb(11, 212, 162);
}
.trash-btn {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
}

/* Custom Select */
.select {
    margin: .9rem;
    position: relative;
    overflow: hidden;

    border-radius: 4px;
    box-shadow: var(--box-shadow);
}
select {
    color: var(--primary-color-2);
    font: inherit;
    cursor: pointer;
    width: 12rem;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: -2px;
    right: 0;
    padding: 1.1rem;
    background: var(--primary-color-2);
    cursor: pointer;
    pointer-events: none;
}
/* Transition */
/*
  .select:hover::after {
    transform: scale(1.5);
  }
  */
